{% extends 'skeleton.html' %}
{% block title %}Benutzer - {% endblock %}

{% block content %}
<!-- inline styles => stylesheet -->
<div style="overflow: hidden">
<div style="float: left; width: 70%">
    <div style="float: left; text-align: center; width: 50%">
        <div style="font-size: 5em; line-height: 1em">
            125
        </div>
        Tage bezahlt
    </div>

    <div style="float: left; text-align: center; width: 50%">
        <div style="font-size: 5em; line-height: 1em">
            {{ user.num_services }}
        </div>
        Anzeigen aktiv
    </div>

    <div>
    {% for lst in listings %}
        <div>
            <h4>{{ lst.name }}</h4>
            <li>Branche: {{ lst.category }}</li>
            <li>Bewertungen: <a href="">{{ lst.num_ratings }} ({{ lst.average_rating }}&#x2605)</a></li>
        </div>
    {% empty %}
        Sie bieten im Moment keine Services an.
    {% endfor %}
    </div>
</div>

<!-- list-style: none -->
<div style="float: right; width: 30%">
    <div>
        <h4>Anzeigenverwaltung</h4>
        <li><a href="{% url 'payments:list' %}">Zahlungen verwalten</a></li>
    </div>

    <div>
        <h4>Accountverwaltung</h4>
        {% if not user.verified %}
            <li><a href="{% url 'services:verification' %}" style="font-weight: bold">Account verifizieren</a></li>
        {% endif %}
        <li><a href="{% url 'services:personal_data' %}">Persönliche Daten verwalten</a></li>
        <li><a href="{% url 'auth_password_change' %}">Passwort ändern</a></li>
    </div>
</div>
</div>
{% endblock %}

