{% extends 'skeleton.html' %}
{% block title %}Benutzer - {% endblock %}

{% block content %}
<!-- inline styles => stylesheet -->
<div style="overflow: hidden">
<div style="float: left; width: 70%">
    <div style="float: left; text-align: center; width: 50%">
        <div style="font-size: 5em; line-height: 1em">
            125
        </div>
        Tage bezahlt
    </div>

    <div style="float: left; text-align: center; width: 50%">
        <div style="font-size: 5em; line-height: 1em">
            2
        </div>
        Anzeigen aktiv
    </div>

    <div>
        <div>
            <h4>Schlüssel Schmidt</h4>
            <li>Branche: Schlüsseldienst</li>
            <li>Bewertungen: <a href="">143 (4.4&#x2605)</a></li>
        </div>

        <div>
            <h4>Schlüssel Schuster</h4>
            <li>Branche: Schlüsseldienst</li>
            <li>Bewertungen: <a href="">23 (4.8&#x2605)</a></li>
        </div>
    </div>
</div>

<!-- list-style: none -->
<div style="float: right; width: 30%">
    <div>
        <h4>Anzeigenverwaltung</h4>
        <li><a href="{% url 'services:payments' %}">Zahlungen verwalten</a></li>
        <li><a href="{% url 'services:listings' %}">Anzeigen aktivieren/deaktivieren</a></li>
        <li><a href="{% url 'services:bills' %}">Rechnung downloaden</a></li>
    </div>

    <div>
        <h4>Accountverwaltung</h4>
        <li><a href="{% url 'services:verification' %}" style="font-weight: bold">Account verifizieren</a></li>
        <li><a href="{% url 'services:personal_data' %}">Persönliche Daten verwalten</a></li>
        <li><a href="{% url 'services:password' %}">Passwort ändern</a></li>
    </div>
</div>
</div>
{% endblock %}

