/*========================================================================
=== font settings
========================================================================*/

html {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    background: #f3f2f1;
}

body {
    font-size:1.1em;
    font-family: 'PT Sans', sans-serif;
    color:#000;
    text-align:left;
    line-height: 1.5em;
}

input, button, textaera, select {
    font-family: inherit;
    font-size:99%;
    font-weight:inherit;
}

pre, code {
    font-family:"Courier New", Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 1.75em;
    line-height: 1.7143em;
    margin-top: 0.857em;
    margin-bottom: 0.857em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.0000em;
    margin-top: 1.0000em;
    margin-bottom: 1.0000em;
}

h4 {
    font-size: 1.25em;
    line-height: 1.2000em;
    margin-top: 1.2000em;
    margin-bottom: 0.2000em;
}

h5 {
    font-size: 1.125em;
    line-height: 1.3333em;
    margin-top: 1.3333em;
    margin-bottom: 1.3333em;
}

h6 {
    font-family: 'PTSansBold', sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5000em;
    margin-top: 1.5000em;
    margin-bottom: 1.5000em;
}


table {font-size: inherit;}
caption, th {font-weight: bold;}

sup {
    font-size: 60%;
    position: relative;
    top:-7px;
}

/*========================================================================
=== Style settings
========================================================================*/

body
{
    background: #e1e1e1;
    margin: 0px;
}
#header, #content, #foot-cont
{
    position: relative;
    width: 975px;
    margin: 0 auto;
}
#div-menue
{
    position: relative;
}
#div-menue ul
{
    list-style-type: none;
    padding-left: 0px;
    margin: 0 auto;
}
#div-menue ul li
{
    float: left;
    width: 195px;
    padding: 0 0;
    text-align: center;
}
#div-menue ul li a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 0px;
    text-transform: uppercase;
    width: 195px;
    color: #fff;
    background: #344046;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
#div-menue ul li a:hover
{
    background: #859aa5;
}
div#user {
    background-color: #859aa5;
    color: #fff;
    font-size: 80%;
    padding-right: 10px;
    text-align: right;
}
div#user a {
    color: inherit;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
div#user a:hover {
    color: #344046;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
#content
{
    background: #fff;
    min-height: 300px;
}
h1#intro {
    text-align: center;
}
ul#intro {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#intro li {
    display: inline;
}
ul#intro li img {
    width: calc((100% - 20px) / 4);
}
ol#search-results {
    list-style-type: none;
    padding: 0;
}
ol#search-results li {
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
ol#search-results li:hover {
    background-color: #859AA5;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}
ol#search-results li a {
    color: inherit;
    padding-left: 5px;
}
#footer
{
    background: rgb(37,43,47);
    color: #fff;
}
#foot-cont
{
    text-transform: uppercase;
}

